// СТИЛИ ПРИ ПЕЧАТИ ИЗ МОДАЛЬНОГО ОКНА
.certificate-container {
    position: relative;
    margin: auto auto;

    .certificate {
        width: 115mm;
        height: 80mm;
        outline: 0.75mm solid #222F63;
        line-height: 1.2;
        // margin-bottom: 30px;
        background: #FFF;
        font-size: 8.5pt;
        float: left;
        overflow-y: auto;
    }

    table {
        width: 100%;
        margin-bottom: 2mm;
    }

    .d-table-cell {
        display: table-cell;
    }

    .certificate-left {
        height: 100%;
        padding: 1mm 2mm;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative; // Добавлено 07.04.2021

        .title {
            font-size: 9pt;
            margin: 0;
            font-weight: bold;
            text-align: center;
            padding: 0;
        }

        .table-area-certification {
            border-spacing: 0px;
            border-collapse: collapse;
            margin-bottom: 2mm;

            td {
                border: 1px solid #000;
                height: 2mm;
                text-align: center;
                font-size: 7.5pt;
                padding: 0;

                &:last-child {
                    text-align: left;
                    padding-left: 1mm;
                }
            }
        }
    }

    .table-signature {
        td {
            // padding-top: 15px;
            vertical-align: bottom;

            &:first-child {
                padding-top: 0;
                vertical-align: top;
            }
        }
    }

    small {
        font-size: 6.5pt;
        // color: #9D9FA2;
    }

    hr {
        border-bottom: 1px solid #000;
        width: 95%;
        margin: 0;
    }

    center {
        // Изменено 07.04.2021
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);
        margin-bottom: 0.5mm;

        small {
            border-top: 0;
            color: inherit;
        }
    }

    .certificate-right {
        height: 100%;
        padding: 1mm 2mm;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        .table-header {
            vertical-align: middle;
            margin-bottom: 3mm;

            img {
                width: 18mm;
            }

            h2 {
                color: #222F63;
                margin: 0;
                margin-bottom: 2mm;
                /* === only modal === */
                font-size: 1.2rem;
                font-weight: bold;
                /* === only modal === */
            }

            p {
                // color: #7E7C9E;
                color: #222F63;
                margin: 0;
                font-size: 9pt;
                // width: 60mm; // ИЗМЕНЕНО 20.09.2021
                width: 100%; // ДОБАВЛЕНО 20.09.2021
            }

            .hologram {
                width: 14mm;
                height: 14mm;
                background: #DCDDDF;
                color: #9D9FA2;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                font-size: 6.5pt;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
            }
        }

        .table-body {
            margin-bottom: 3mm;

            .title {
                font-size: 8.3pt;
                margin: 0;
                font-weight: bold;
                vertical-align: top;
            }

            .photo {
                outline: 1px solid #000;
                width: 30mm;
                height: 40mm;
                color: #9D9FA2;
                text-align: center;
                vertical-align: middle;
                padding: 0;
            }

            .qr-cod {
                outline: 1px solid transparent;
                width: 30mm;
                height: 30mm;
                color: #9D9FA2;
                text-align: center;
                vertical-align: middle;
                padding: 0;
            }

            .fio {
                font-style: italic;
                font-size: 10pt;
                font-weight: bold;
                // color: #7E7C9E;
                color: #222F63;

                div {
                    margin-bottom: 2px;
                }

                div.d-table-cell {
                    position: relative;
                    margin-bottom: 0;
                }

                small {
                    font-weight: normal;
                    font-style: normal;
                    font-size: 6.5pt;
                    // color: #9D9FA2;
                    color: #212529;
                    display: block;
                }

                span.printing {
                    position: absolute;
                    right: -100px;
                    bottom: 0;
                    font-weight: normal;
                    font-style: normal;
                    color: #000;
                    font-size: 8.5pt;
                }
            }
        }

        .table-footer {
            margin-bottom: 0;

            span {
                font-weight: bold;
                // color: #7E7C9E;
                color: #222F63;
            }
        }
    }

    // СДСПНК
    .certificate-sdspnk {
        width: 115mm;
        height: 80mm;
        overflow: hidden; // ДОБАВЛЕНО 20.09.2021

        .header-certificate {
            text-align: center;
            color: #222F63;

            p {
                font-size: 7.5pt;
                margin-bottom: 2mm;
            }

            h2 {
                font-size: 1.2rem;
                font-weight: bold;
                color: #222F63;
                margin: 0;
                // margin-bottom: 2mm;
            }
        }
        table {
            margin-bottom: 1mm;
        }
        .table-area-qualification {
            border-spacing: 0px;
            border-collapse: collapse;
            margin-bottom: 2mm;

            td {
                border: 1px solid #000;
                height: 2mm;
                text-align: center;
                font-size: 8pt;
                padding: 0mm 1mm;

                // &:first-child {
                //     text-align: left;
                //     width: 30%;
                // }
            }
        }
        .table-body {
            .qr-cod {
                outline: 1px solid transparent;
                width: 30mm;
                height: 30mm;
                color: #9D9FA2;
                text-align: center;
                vertical-align: middle;
                padding: 0;
            }

            .fio {
                font-style: normal;
                font-size: 10pt;
                font-weight: bold;
                // color: #222F63;
                color: #000;
                padding-left: 2mm;
            }
        }
        .certificate-right {
            .table-signature {
                td {
                    padding-top: 10px;
                    // vertical-align: bottom;
                }
            }
        }
    }

    //==============
}

@media print {
    @page {
        size: landscape;
        margin: 10mm !important;
    }

    html,
    body {
        visibility: hidden;
    }

    body {
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        // zoom: 71%;
    }

    .certificate-container {
        visibility: visible;
        margin-top: 25mm;
        transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}