<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Отбор единиц СО для аттестационных испытаний</h6>
  <div class="table-responsive">
    <table class="table table-bordered text-center bg-white">
      <tr class="table-active">
        <th width="40">№ пп</th>
        <!-- <th>Вид атт.</th> -->
        <th>Шифр СО</th>
        <th>Наименование, марка и обозначение</th>
        <th>Количество отобранных единиц СО, шт.</th>
        <th>Заводские номера отобранного СО</th>
      </tr>
      <tr>
        <td class="bg-light text-bold">1</td>
        <td>ДИ</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td>
          <input type="text" class="form-control form-control-sm text-center">
        </td>
        <td>
          <input type="text" class="form-control form-control-sm text-center">
        </td>
      </tr>
      <tr>
        <td class="bg-light text-bold">2</td>
        <td>ДИ+ДП/КС</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td>
          <input type="text" class="form-control form-control-sm text-center">
        </td>
        <td>
          <input type="text" class="form-control form-control-sm text-center">
        </td>
      </tr>
    </table>
  </div>

  <hr>
  <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
  <a href="#" class="btn btn-primary btn-sm disabled" type="button"><i
      class="fa fa-circle-o-notch fa-spin fa-lg mr-2"></i>Сохраняем...</a>
</form>
