<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th>Проверяемое требование в соответствии с программой</th>
      <th width="180">Заводской номер отобранного СО</th>
      <th width="180">Заключение</th>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Размещение СО должно обеспечивать безопасный и свободный доступ к нему.</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Устройства обеспечения безопасности источников сварочного тока (ГОСТ Р МЭК
        60974-1—2012, пункт 13.3) должны иметь индикацию удовлетворительной работы. Конструкция источника сварочного
        тока должна исключать возможность блокировки или шунтирования устройства обеспечения безопасности без помощи
        специального инструмента.</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Длина первичной цепи между передвижным СО и пунктом питания с напряжением
        питания выше 50 В для переменного тока или с напряжением питания выше 110 В для постоянного тока не должна
        превышать 15 м. Нарушение изоляции элементов первичной цепи не допускается.</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<hr>
