<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th width="25%">Характеристика (параметр) СО</th>
      <th width="180">Заводской номер отобранного СО</th>
      <th>Данные маркировки<small class="text-muted ml-2">(в технической документации на СО)</small></th>
      <th>Измеренное значение</th>
      <th width="180">Заключение</th>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Диапазон регулирования сварочного тока</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td rowspan="2">данные из программы</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Номинальное напряжение без нагрузки (напряжение холостого хода)</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td rowspan="2">данные из программы</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td rowspan="2" class="text-left">Амплитуда перемещения (колебаний) сварочной головки (электрода) в плоскости
        перпендикулярной сварному шву</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td rowspan="2">данные из программы</td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm text-center">
      </td>
      <td>
        <select name="" class="form-control form-control-sm">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
  </table>
</div>
