<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th rowspan="2" width="200">Обозначение КСС</th>
      <th colspan="3">Методы неразрушающего контроля</th>
    </tr>
    <tr class="table-active">
      <th>ВИК</th>
      <th>РК</th>
      <th>УК</th>
    </tr>
    <tr>
      <td class="bg-light">КСС1</td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="bg-light">КСС2</td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
      <td>
        <select name="" class="form-control form-control-sm text-center">
          <option value="">-</option>
          <option value="">годен</option>
          <option value="">не годен</option>
        </select>
      </td>
    </tr>
  </table>
</div>
