<div class="table-responsive">
  <table class="table table-bordered bg-white table-xs table-parameters-static">
    <thead>
      <tr class="table-active">
        <th>№ пп</th>
        <th>Группы/подгруппы основного материала<p class="text-warning mb-0">(марки)</p>
        </th>
        <th>Сварочные материалы</th>
        <th>Толщина</th>
        <th>Радиус кривизны</th>
        <th>Тип шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover" data-placement="top"
            data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i></th>
        <th>Тип соединения</th>
        <th>Способ формирования шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover"
            data-placement="top" data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i>
        </th>
        <th>Форма подготовленных кромок</th>
        <th>Положение при сварке</th>
        <th>Требования к подогреву</th>
        <th>Требования к термической обработке</th>
        <th>Процесс сварки</th>
        <th>Площадь поперечного сечения</th>
        <th>Число плавящихся электродов</th>
        <th>Обозначение КСС</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-light">
        <td class="text-center">1</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td>данные из программы</td>
        <td class="bg-white">
          <button data-target="#modal-make-value" data-toggle="modal" title="изменить" type="button"
            class="btn btn-light btn-xs text-primary"><i aria-hidden="true" class="fa fa-pencil-square-o"></i></button>
          <p class="text-bold">КСС 1</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
