<div class="table-responsive">
  <table class="table table-bordered bg-white table-xs table-parameters-static">
    <thead>
      <tr class="table-active">
        <th>№ пп</th>
        <th>Группы/подгруппы основного материала</th>
        <th>Сварочные материалы</th>
        <th>Диапазон толщин</th>
        <th>Радиус кривизны</th>
        <th>Тип шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover" data-placement="top"
            data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i></th>
        <th>Тип соединения</th>
        <th>Способ формирования шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover"
            data-placement="top" data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i>
        </th>
        <th>Форма подготовленных кромок</th>
        <th>Положение при сварке</th>
        <th>Требования к подогреву</th>
        <th>Требования к термической обработке</th>
        <th>Процесс сварки</th>
        <th>Площадь поперечного сечения</th>
        <th>Число плавящихся электродов</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <p>(1.1, 1.2, 1.3)</p>
          <i class="fa fa-plus"></i>
          <p>51 (51.1, 51.2)</p>
        </td>
        <td>
          <p>Эп(А,Б,Ц); Пп</p>
          <i class="fa fa-plus"></i>
          <p>Гз; Ф</p>
        </td>
        <td>
          <p>12 < d < 50</p>
        </td>
        <td>
          <p>12 < d < 50</p>
        </td>
        <td>
          <p>СШ</p>
        </td>
        <td>
          <p>С,У</p>
        </td>
        <td>
          <p>ос(сп), ос(бп)</p>
        </td>
        <td>
          <p>&le;15°</p>
        </td>
        <td>
          <p>H-L045</p>
        </td>
        <td>
          <p>О</p>
        </td>
        <td>
          <p>Т</p>
        </td>
        <td>
          <p>???</p>
        </td>
        <td>
          <p>12 < d < 50</p>
        </td>
        <td>
          <p>???</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
