<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Сведения о заявителе
    аттестации<small class="text-warning ml-2">(для СМ, СО)</small></h6>
  <div class="form-group row align-items-center">
    <label for="applicant_sm" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm text-bold">Заявитель
      аттестации СМ<span class="text-danger">*</span><small class="text-warning ml-2">(для СМ)</small></label>
    <div class="col-sm-6 col-xl-3">
      <select class="form-control form-control-sm" id="applicant_sm">
        <option value="opt1">Производитель СМ</option>
        <option value="opt2">Потребитель СМ</option>
        <option value="opt3">Представитель производителя СМ</option>
      </select>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="name_org" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Наименование
      организации<span class="text-danger">*</span></label>
    <div class="col-sm-6">
      <input type="text" id="name_org" class="form-control form-control-sm" required="">
    </div>
    <div class="col-sm-1">
      <a href="#" class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#modal-directory-org"
        title="выбрать из справочника"><i class="fa fa-book"></i></a>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_address" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Адрес места
      нахождения<span class="text-danger">*</span></label>
    <div class="col-sm-6">
      <input type="text" id="org_address" class="form-control form-control-sm" required="">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_inn" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">ИНН<small
        class="text-muted ml-2">(или иной идентификационных признак)</small><span class="text-danger">*</span></label>
    <div class="col-sm-3">
      <input type="text" id="org_inn" class="form-control form-control-sm" required="">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_address_production" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Адрес
      места нахождения
      производства<span class="text-danger">*</span><small class="text-warning ml-2">(для производителя
        СМ)</small></label>
    <div class="col-sm-6">
      <input type="text" id="org_address_production" class="form-control form-control-sm">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_phone" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Телефон
      организации<span class="text-danger">*</span> / факс<small class="text-muted ml-2">(при
        наличии)</small></label>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <input type="text" id="org_phone" class="form-control form-control-sm" placeholder="телефон" required="">
    </div>
    <div class="col-sm-3">
      <input type="text" id="org_fax" class="form-control form-control-sm" placeholder="факс">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_email" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">E-mail
      / адрес сайта в сети Интернет<span class="text-danger">*</span></label>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <input type="text" id="org_email" class="form-control form-control-sm" placeholder="email" required="">
    </div>
    <div class="col-sm-3">
      <input type="text" id="org_site" class="form-control form-control-sm" placeholder="адрес сайта" required="">
    </div>
  </div>
  <div class="form-group row">
    <label for="org_contact_person" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Контактное
      лицо<small class="text-warning ml-2">(для СМ, СО)</small></label>
    <div class="col-sm-6">
      <textarea id="org_contact_person" class="form-control form-control-sm" rows="3"
        placeholder="ФИО, телефон, email"></textarea>
    </div>
  </div>


  <hr>
  <h6 class="text-primary text-center mb-3">Сведения о производителе СМ<small class="text-warning ml-2">(только
      для представителя производителя СМ)</small></h6>
  <div class="form-group row align-items-center">
    <label for="name_org_fabricator" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Наименование
      организации<span class="text-danger">*</span></label>
    <div class="col-sm-6">
      <input type="text" id="name_org_fabricator" class="form-control form-control-sm" required="">
    </div>
    <div class="col-sm-1">
      <a href="#" class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#modal-directory-org"
        title="выбрать из справочника"><i class="fa fa-book"></i></a>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_address" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Адрес места
      нахождения<span class="text-danger">*</span></label>
    <div class="col-sm-6">
      <input type="text" id="org_address" class="form-control form-control-sm" required="">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_inn" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">ИНН<small
        class="text-muted ml-2">(или иной идентификационных признак)</small><span class="text-danger">*</span></label>
    <div class="col-sm-3">
      <input type="text" id="org_inn" class="form-control form-control-sm" required="">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_address_production" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Адрес места нахождения
      производства<span class="text-danger">*</span></label>
    <div class="col-sm-6">
      <input type="text" id="org_address_production" class="form-control form-control-sm">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_phone" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Телефон<span
        class="text-danger">*</span></label>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <input type="text" id="org_phone" class="form-control form-control-sm" placeholder="телефон" required="">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="org_email" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">E-mail
      / адрес сайта в сети Интернет<span class="text-danger">*</span></label>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <input type="text" id="org_email" class="form-control form-control-sm" placeholder="email" required="">
    </div>
    <div class="col-sm-3">
      <input type="text" id="org_site" class="form-control form-control-sm" placeholder="адрес сайта" required="">
    </div>
  </div>
  <div class="form-group row">
    <label for="org_contact_person" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Контактное лицо</label>
    <div class="col-sm-6">
      <textarea id="org_contact_person" class="form-control form-control-sm" rows="3" placeholder="ФИО, телефон, email"></textarea>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Сведения о ранее
      проведенной проверке технических возможностей производителя<small class="text-warning ml-2">(для
        производителя или предствителя
        производителя СМ, можно добавлять из базы производителей)</small></label>
    <div class="col-sm-2">
      <div class="form-check form-check-inline form-check-sm">
        <input name="there_was_check" id="previous_check_yes" type="radio" value="option1" class="form-check-input" checked>
        <label for="previous_check_yes" class="form-check-label">Да</label>
      </div>
      <div class="form-check form-check-inline form-check-sm">
        <input name="there_was_check" id="previous_check_no type="radio" value="option2" class="form-check-input">
        <label for="previous_check_no" class="form-check-label">Нет</label>
      </div>
      <!-- <input type="text" class="form-control form-control-sm" placeholder="АЦ, выполнивший проверку; сроки проверки"> -->
    </div>
  </div>
  <div class="form-group row">
    <label for="choice_ac" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">АЦ, выполнивший
      проверку; сроки проверки<small class="text-warning ml-2">(если ДА - поля заполняются здесь и далее
        отражаются в протоколе, а если НЕТ, то поля заполнятся в Протоколе)</small></label>
    <div class="col-sm-2">
      <select class="form-control form-control-sm" id="choice_ac">
        <option value="opt1">-</option>
        <option selected value="opt2">АЦСМ-22, Москва</option>
        <option value="opt3">АЦСМ-23, Санкт-Петербург</option>
      </select>
    </div>
    <div class="col-sm-2">
      <input type="date" id="verification_period_from" class="form-control form-control-sm" placeholder="дд.мм.гггг">
    </div>
    <div class="col-sm-2">
      <input type="date" id="verification_period_to" class="form-control form-control-sm" placeholder="дд.мм.гггг">
    </div>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-sm btn-submit">Сохранить</button>
  </div>
</form>
