<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Места и сроки проведения проверки организации к выполнению сварочных работ
  </h6>
  <div class="table-responsive">
    <table class="table table-bordered text-center bg-white">
      <tr class="table-active">
        <th width="20%">Этап проверки</th>
        <th colspan="2">Место проведения</th>
        <th width="25%">Сроки проведения</th>
      </tr>
      <tr>
        <td rowspan="2" class="text-left bg-light">Проверка технических и кадровых возможностей</td>
        <td class="text-left bg-light">Название организации</td>
        <td><input type="text" class="form-control form-control-sm"></td>
        <td>
          <div class="d-flex">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-left bg-light">Название филиала 1</td>
        <td><input type="text" class="form-control form-control-sm"></td>
        <td>
          <div class="d-flex">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan="2" class="text-left bg-light">Аттестационные испытания технологии сварки</td>
        <td class="text-left bg-light">Название организации</td>
        <td><input type="text" class="form-control form-control-sm"></td>
        <td>
          <div class="d-flex">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-left bg-light">Название филиала 1</td>
        <td><input type="text" class="form-control form-control-sm"></td>
        <td>
          <div class="d-flex">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
            <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
          </div>
        </td>
      </tr>
    </table>
  </div>
  <p class="text-secondary text-sm text-bold"><i class="fa fa-info-circle text-info mr-2"></i>Показатели и документы для
    проверки технических и кадровых возможностей организации см. в ГОСТ Р 59604.3-2021 Приложение В</p>
  <hr>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-sm btn-submit">Сохранить</button>
    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download mr-1"></i>Скачать форму акта проверки</a>
  </div>
</form>
