<div class="table-responsive">
  <table class="table table-bordered bg-white table-xs table-parameters-active">
    <thead>
      <tr class="table-active">
        <th colspan="2">№ пп, действия</th>
        <th>Группы/подгруппы основного материала<p class="text-warning mb-0">(марки)</p>
        </th>
        <th>Сварочные материалы</th>
        <th>Толщина</th>
        <th>Радиус кривизны</th>
        <th>Тип шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover" data-placement="top"
            data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i></th>
        <th>Тип соединения</th>
        <th>Способ формирования шва<i class="fa fa-info-circle text-secondary ml-1" data-toggle="popover"
            data-placement="top" data-trigger="hover" data-content="не применяется для сварных соединений стержней"></i>
        </th>
        <th>Форма подготовленных кромок</th>
        <th>Положение при сварке</th>
        <th>Требования к подогреву</th>
        <th>Требования к термической обработке</th>
        <th>Процесс сварки</th>
        <th>Площадь поперечного сечения</th>
        <th>Число плавящихся электродов</th>
        <th>Обозначение группы / КСС</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">
          <div class="btn-group-vertical btn-group-xs">
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-plus" title="добавить"></i></button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalConfirmation"
              data-confirm="Вы уверены?"><i class="fa fa-times" title="удалить"></i></button>
            <button type="button" class="btn btn-outline-primary"><i class="fa fa-clone"
                title="копировать"></i></button>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-choice-group-materials" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary btn-block" data-toggle="modal"
            data-target="#modal-choice-type-sm" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-ranges" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-ranges" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-parameter-input" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-selection-from-directory" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-ranges" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td>
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-selection-from-directory" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
        <td class="bg-light text-bold">
          <button type="button" class="btn btn-light btn-xs text-primary" data-toggle="modal"
            data-target="#modal-make-value" title="изменить"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></button>
          <p>-</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
