<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Формирование протокола
    аттестации</h6>
  <!-- <h6 v-if="direction == 'st'" class="text-primary text-center mb-3">Формирование протокола аттестационных испытаний
    технологии сварки (наплави, пайки)</h6> -->
  <div class="form-group row">
    <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">№ протокола, дата</label>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-sm">
    </div>
    <div class="col-sm-2">
      <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
    </div>
  </div>
  <!-- <div v-if="direction == 'so'">
    <div class="form-group row">
      <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">№ протокола, дата <em
          class="text-secondary">(наименование, марка СО1)</em></label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm">
      </div>
      <div class="col-sm-2">
        <div id="program_date_picker" class="input-group form-date" data-picker="datepicker">
          <input type="text" class="form-control form-control-sm js-datetimepicker" placeholder="дд.мм.гггг">
          <div class="input-group-append">
            <div id="program_date_picker_trigger" class="btn btn-outline-secondary btn-sm add-on"><i
                class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">№ протокола, дата <em
          class="text-secondary">(наименование, марка СО1)</em></label>
      <div class="col-sm-2">
        <input type="text" class="form-control form-control-sm">
      </div>
      <div class="col-sm-2">
        <div id="program_date_picker" class="input-group form-date" data-picker="datepicker">
          <input type="text" class="form-control form-control-sm js-datetimepicker" placeholder="дд.мм.гггг">
          <div class="input-group-append">
            <div id="program_date_picker_trigger" class="btn btn-outline-secondary btn-sm add-on"><i
                class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <hr>
  <a href="#collapse_info_from_application" class="h6 text-primary d-block text-center mb-3" data-toggle="collapse"
    role="button" aria-expanded="false" aria-controls="collapse_info_from_application">Сведения из заявки<i
      class="fa fa-angle-down ml-2"></i></a>
  <div class="collapse" id="collapse_info_from_application">
  @include('info_from_application.html')
  </div>
  <hr>
  <div class="form-group row">
    <label for="" class="col-lg-4 offset-xl-1 col-form-label col-form-label-sm text-bold">Состав аттестационной
      комиссии<span class="text-danger">*</span></label>
    <div class="col-lg-8 col-xl-6">
      <div class="table-responsive">
        <table class="table table-bordered bg-white">
          <tr>
            <td>Левченко Алексей Михайлович<div class="text-muted">IV уровень</div>
            </td>
            <td width=100 class="text-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="choice_boss" value="" disabled>
                <label class="form-check-label" for="">Председатель</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Малолетков Алексей Владимирович<div class="text-muted">IV уровень</div>
            </td>
            <td width=100 class="text-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="choice_boss" value="" checked readonly>
                <label class="form-check-label" for="">Председатель</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Шахматов Денис Михайлович<div class="text-muted">IV уровень</div>
            </td>
            <td width=100 class="text-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="choice_boss" value="" disabled>
                <label class="form-check-label" for="">Председатель</label>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-sm btn-submit">Сохранить</button>
  </div>
</form>
