<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th>Характеристика СМ</th>
      <th>Значение в НД, устанавливающем технические требования СМ</th>
      <th>Полученное значение</th>
      <th>Заключение</th>
    </tr>
    <tr>
      <td>Геометрические параметры и состояние поверхности</td>
      <td>
        <input type="text" id="meaning_nd" class="form-control form-control-sm">
      </td>
      <td>
        <input type="text" id="received_value" class="form-control form-control-sm">
      </td>
      <td>
        <select class="form-control form-control-sm" id="select_conclusion_characteristics">
          <option value="">-</option>
          <option value="">соответствует</option>
          <option value="">не соответствует</option>
        </select>
      </td>
    </tr>
  </table>
</div>
