<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th>Объект</th>
      <th>Методы неразрушающего контроля, виды разрушающих испытаний и исследований</th>
      <th>Документы, регламентирующие методику неразрушающего контроля, разрушающих испытаний и исследований</th>
      <th>Документы, регламентирующие нормы оценки качества КСС</th>
    </tr>
    <tr>
      <td rowspan="5">ГО, ОХНВП</td>
      <td>ВИК</td>
      <td>Документы под ВИК</td>
      <td rowspan="5">Документы под объекты</td>
    </tr>
    <tr>
      <td>РК</td>
      <td>Документы под РК</td>
    </tr>
    <tr>
      <td>УК</td>
      <td>Документы под УК</td>
    </tr>
    <tr>
      <td>испытание</td>
      <td>Документы под испытание</td>
    </tr>
    <tr>
      <td>исследование</td>
      <td>Документы под исследование</td>
    </tr>
  </table>
</div>
