<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th>Обозначение КСС</th>
      <th>Проверяемые свойства наплавленного металла (металла шва)</th>
    </tr>
    <tr>
      <td>КСС-1</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit commodi vel ullam, delectus aspernatur ipsum.
      </td>
    </tr>
    <tr>
      <td>КСС-2</td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit commodi vel ullam, delectus aspernatur ipsum.
      </td>
    </tr>
  </table>
</div>
