<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th>Обозначение КСС</th>
      <th>Химический элемент</th>
      <th>Данные документов, регламентирующих нормы оценки качества</th>
      <th>Результаты исследования</th>
      <th>Заключение, № заключения</th>
    </tr>
    <tr>
      <td>КСС-1</td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <div class="d-xl-flex">
          <select class="form-control form-control-sm mb-2 mb-xl-0">
            <option value="">-</option>
            <option value="">соответствует</option>
            <option value="">не соответствует</option>
          </select>
          <input type="text" class="form-control form-control-sm ml-0 ml-xl-2 w-xl-75" placeholder="№">
        </div>
      </td>
    </tr>
    <tr>
      <td>КСС-2</td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <input type="text" class="form-control form-control-sm">
      </td>
      <td>
        <div class="d-xl-flex">
          <select class="form-control form-control-sm mb-2 mb-xl-0">
            <option value="">-</option>
            <option value="">соответствует</option>
            <option value="">не соответствует</option>
          </select>
          <input type="text" class="form-control form-control-sm ml-0 ml-xl-2 w-xl-75" placeholder="№">
        </div>
      </td>
    </tr>
  </table>
</div>
