<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Аттестационные испытания<br><small class=text-bold>Проверка характеристик
      СМ</small></h6>
  <div class="table-responsive">
    <table class="table table-bordered text-center bg-white">
      <tr class="table-active">
        <!-- <th>Вид атт.</th> -->
        <th>Характеристика СМ</th>
        <th>Методы НК, виды разрушающих испытаний и исследований</th>
        <th>Оборудование для контроля, испытаний и исследований</th>
        <th>Документ, рекламентирующий методику НК, разрушающих испытаний и исследований</th>
        <th>НД, устанавливающий технические требования к СМ</th>
        <th>Объем контроля</th>
        <th>Действия</th>
      </tr>
      <tr>
        <td>Геометрические параметры и состояние поверхности</td>
        <td>ВИК</td>
        <td>Lorem ipsum dolor sit</td>
        <td>Lorem ipsum dolor sit</td>
        <td>Lorem ipsum dolor sit</td>
        <td>2</td>
        <td>
          <div class="btn-group btn-group-xs">
            <div type="button" class="btn btn-outline-secondary" title="копировать"><i class="fa fa-clone"></i></div>
            <div type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#characteristic_sm"
              aria-expanded="false" aria-controls="characteristic_sm" title="заполнить"><i class="fa fa-pencil"></i>
            </div>
            <div type="button" class="btn btn-outline-secondary" title="удалить"><i class="fa fa-times"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr class="bg-light">
        <td colspan="7" class="text-left">
          <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="collapse"
            data-target="#characteristic_sm" aria-expanded="false" aria-controls="characteristic_sm"><i
              class="fa fa-plus mr-1"></i>Добавить характеристику</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="collapse show" id="characteristic_sm">
    <div class="bg-white py-3 border">
      <div class="form-group row align-items-center">
        <label for="choice_characteristic_sm" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm text-bold">Характеристика
          СМ</label>
        <div class="col-sm-6">
          <select class="form-control form-control-sm" id="choice_characteristic_sm">
            <option value="">-</option>
            <option value="">Геометрические параметры и состояние поверхности (Эп, Пс, Пп, Ф)</option>
            <option value="">Прочность покрытия (Эп, Пс)</option>
            <option value="">Прочность проволоки (Пс)</option>
            <option value="">Химический состав (Пс, Ф, Гз)</option>
            <option value="">Влажность (Эп, Пп, Ф)</option>
            <option value="">Другая характеристика (согласно ГОСТ Р 59604.4-2021 п.п.10.1.3)</option>
          </select>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="my_characteristic_sm" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Название характеристики<i
            class="fa fa-info-circle text-secondary ml-1" data-content="ГОСТ Р 59604.4-2021 п.п.10.1.3"
            data-placement="top" data-toggle="popover" data-trigger="hover"></i><small class="text-warning ml-2">(поле
            появится, если выбрать пункт 'Другая характеристика' из 'Характеристик СМ')</small></label>
        <div class="col-sm-6">
          <input type="text" id="my_characteristic_sm" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="research_test_methods" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Методы НК, виды разрушающих
          испытаний и исследований<small class="text-warning ml-2">(можно формализовать из типовых
            программ)</small></label>
        <div class="col-sm-6">
          <textarea rows="2" id="research_test_methods" class="form-control form-control-sm"></textarea>
          <div class="text-warning mн-2">ИЛИ</div>
          <div class="table-responsive">
            <table class="table table-bordered bg-white">
              <tbody>
                <tr>
                  <td colspan="2">
                    <button data-target="#modal-choice-control-methods" data-toggle="modal"
                      title="выбрать методы НК, виды разрушающих испытаний и исследований" type="button"
                      class="btn btn-xs btn-outline-primary">выбрать</button>
                  </td>
                </tr>
                <tr>
                  <td>ВИК, ЭК, испытания</td>
                  <td width="100" class="text-center">
                    <div aria-label="Basic example" role="group" class="btn-group btn-group-xs">
                      <button data-target="#modal-choice-control-methods" data-toggle="modal" title="изменить"
                        type="button" class="btn btn-outline-secondary"><i class="fa fa-pencil"></i></button>
                      <button title="удалить" type="button" class="btn btn-outline-secondary"><i
                          class="fa fa-times"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="equipment_research_test_methods" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Оборудование для контроля,
          испытаний и исследований</label>
        <div class="col-sm-6">
          <textarea rows="2" id="equipment_research_test_methods" class="form-control form-control-sm"></textarea>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="document_research_test_methods" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Документ, регламентирующий
          методику НК, разрушающих испытаний и исследований</label>
        <div class="col-sm-6">
          <textarea rows="2" id="document_research_test_methods" class="form-control form-control-sm"></textarea>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="specification_document_sm" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">НД, устанавливающий
          технические требования к СМ<small class="text-warning ml-2">(заявка!!!)</small></label>
        <div class="col-sm-6">
          <input type="text" id="specification_document_sm" class="form-control form-control-sm" value="данные из заявки справочно">
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label for="scope_control" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Объем контроля</label>
        <div class="col-sm-6">
          <textarea rows="2" id="scope_control" class="form-control form-control-sm"></textarea>
        </div>
      </div>
      <hr>
      <div class="ml-3">
        <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
        <a href="#" class="btn btn-primary btn-sm disabled" type="button"><i
            class="fa fa-circle-o-notch fa-spin fa-lg mr-2"></i>Сохраняем...</a>
        <a href="#" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#characteristic_sm"
          aria-expanded="false" aria-controls="characteristic_sm">Отмена</a>
      </div>
    </div>
  </div>
</form>
