<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group_materials" value="">
            <label class="form-check-label" for="">1. Стали с установленным минимальным
              пределом текучести ReH ≤ 460 Н/мм<sup>2</sup> и химическим составом, %:
              C ≤ 0,25; Si ≤ 0,60; Mn ≤ 1,8; Mo ≤ 0,70; S ≤ 0,045; P ≤ 0,045; Cu ≤
              0,40; Ni ≤ 0,5; Cr ≤ 0,3 (0,4 для литья); Nb ≤ 0,06; V ≤ 0,12); Ti ≤
              0,05</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">1.1 Стали с установленным минимальным
              пределом текучести R<sub>eH</sub> ≤ 275 Н/мм<sup>2</sup></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">1.2 Стали с установленным минимальным
              пределом текучести 275 Н/мм<sup>2</sup>
              < R<sub>eH</sub> ≤ 360 Н/мм<sup>2</sup>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">1.3 Нормализованные мелкозернистые
              стали с установленным минимальным пределом текучести R<sub>eH</sub> >
              360 Н/мм<sup>2</sup></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">1.4 Стали с улучшенной коррозионной
              стойкостью по отношению к атмосфере, химический состав которых может
              превышать требования к содержанию отдельных элементов, приведенных в
              группе 1</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group_materials" value="">
            <label class="form-check-label" for="">2. Термомеханически обработанные
              мелкозернистые стали и литейные стали с установленным минимальным
              пределом текучести R<sub>eH</sub> > 360 Н/мм<sup>2</sup></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">2.1 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">2.2 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group_materials" value="">
            <label class="form-check-label" for="">3. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">3.1 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">3.2 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">3.3 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">3.4 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="group_materials" value="">
            <label class="form-check-label" for="">4. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">4.1 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">4.2 Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempore repellendus ad sapiente obcaecati
              pariatur consectetur dolores debitis vitae eligendi reprehenderit odit
              aperiam officiis qui!</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
