<div class="modal fade" id="modal-comission-choice" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Аттестационная комиссия АЦ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Выберите состав комиссии</h6>
        <div class="scrollspy-modal" style="max-height: 400px;">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="table-active">
                  <th>ФИО</th>
                  <th>Виды СМ</th>
                  <th>Объекты</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check form-check-inline ml-3">
                      <input class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="">Левченко Алексей Михайлович<div class="text-muted">IV
                          уровень</div></label>
                    </div>
                  </td>
                  <td>Гг, Гз, Пм, Пп, Пр, Пс, Тм, Ф, Эн, Эп</td>
                  <td>ГДО, ГО, КО, КСМ, МО, НГДО, ОТОГ, ОХНВП, ПТО, СК</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-inline ml-3">
                      <input class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="">Малолетков Алексей Владимирович<div class="text-muted">IV
                          уровень</div></label>
                    </div>
                  </td>
                  <td>Гг, Гз, Пм, Пп, Пр, Пс, Тм, Ф, Эн, Эп</td>
                  <td>ГДО, ГО, КО, МО, НГДО, ОТОГ, ОХНВП, ПТО, СК</td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-inline ml-3">
                      <input class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label" for="">Орлова Августа Александровна<div class="text-muted">IV
                          уровень</div></label>
                    </div>
                  </td>
                  <td class="text-danger">нет действующих удостоверений</td>
                  <td class="text-danger">нет действующих удостоверений</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
        <a href="#" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" role="button">Закрыть</a>
      </div>
    </div>
  </div>
</div>
