<div class="modal fade" id="modal-safety-requirements-so" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Требования безопасности при проведении аттестационных испытаний СО</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="get">
        <div class="modal-body">
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-sm text-bold mb-1">Требования, подлежащие проверке</p>
            <p class="mb-1">Чтобы добавить дополнительные требования, прокрутите список до конца</p>
          </div>
          <div class="scrollspy-modal">
            <div class="table-responsive">

              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.1</label>
                      </div>
                    </td>
                    <td>Размещение СО должно обеспечивать безопасный и свободный доступ к нему.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.2</label>
                      </div>
                    </td>
                    <td>Устройства обеспечения безопасности источников сварочного тока (ГОСТ Р МЭК 60974-1—2012, пункт
                      13.3) должны иметь индикацию удовлетворительной работы. Конструкция источника сварочного тока
                      должна исключать возможность блокировки или шунтирования устройства обеспечения безопасности без
                      помощи специального инструмента.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.3</label>
                      </div>
                    </td>
                    <td>Длина первичной цепи между передвижным СО и пунктом питания с напряжением питания выше 50 В для
                      переменного тока или с напряжением питания выше 110 В для постоянного тока не должна превышать 15
                      м. Нарушение изоляции элементов первичной цепи не допускается.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.4</label>
                      </div>
                    </td>
                    <td>Подключение сварочных кабелей должно быть выполнено опрессованными или припаянными кабельными
                      наконечниками.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.5</label>
                      </div>
                    </td>
                    <td>СО с напряжением питания выше 50 В для переменного тока или с напряжением питания выше 110 В для
                      постоянного тока должно быть подключено к питающей сети с установленными аппаратами защиты
                      (предохранителями или автоматическими выключателями). Номинальный ток аппарата защиты не должен
                      быть меньше максимального значения тока, потребляемого СО.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.6</label>
                      </div>
                    </td>
                    <td>Защита, обеспечиваемая корпусом СО, должна соответствовать условиям проведения аттестационных
                      испытаний.</td>
                  </tr>
                  <tr>
                    <td class="text-bold">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Д.2.7</label>
                      </div>
                    </td>
                    <td>Вращающиеся части СО и части, находящиеся под высоким напряжением или высокой температурой,
                      должны быть надежно ограждены.</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label w-100" for="">
                          <textarea class="form-control form-control-sm" placeholder="название проверяемого требования"
                            rows="2"></textarea>
                          <!-- <input type="text" class="form-control form-control-sm"
                            placeholder="название проверяемого требования"> -->
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="bg-light">
                      <button class="btn btn-outline-primary btn-xs"><i class="fa fa-plus mr-1"></i>Добавить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <button class="btn btn-outline-primary btn-xs"><i class="fa fa-plus mr-1"></i>Добавить
                требование</button> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
          <a href="#" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" role="button">Закрыть</a>
        </div>
      </form>
    </div>
  </div>
</div>
