<div class="modal fade" id="modal-ranges" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Название параметра</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="get">
        <div class="modal-body">
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-warning">Толщина свариваемых деталей</p>
            <div class="form-group">
              <label for="">Укажите диапазон:<small class="text-warning ml-1">(для табл. Параметры свар.соединений и
                  Параметры групп однотипности)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                </select>
                <strong class="mx-2">t</strong>
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                  <option value="opt2"><b>=</b></option>
                </select>
                <input type="text" class="form-control form-control-sm">
                <!-- <i data-content="данный выбор актуален только для сварных соединений металлических материалов"
                  data-placement="top" data-toggle="popover" data-trigger="hover"
                  class="fa fa-info-circle text-secondary ml-1"></i> -->
              </div>
            </div>
            <div class="form-group">
              <label for="">Укажите значение:<small class="text-warning ml-1">(для табл. Параметры КСС)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-warning">Радиус кривизны свариваемых деталей</p>
            <div class="form-group">
              <label for="">Укажите диапазон:<small class="text-warning ml-1">(для табл. Параметры свар.соединений и
                  Параметры групп однотипности)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                </select>
                <strong class="mx-2">r</strong>
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                  <option value="opt2"><b>=</b></option>
                </select>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group">
              <label for="">Укажите значение:<small class="text-warning ml-1">(для табл. Параметры КСС)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-warning">Номинальный наружный диаметр</p>
            <div class="form-group">
              <label for="">Укажите диапазон:<small class="text-warning ml-1">(для табл. Параметры свар.соединений и
                  Параметры групп однотипности)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                </select>
                <strong class="mx-2">d<sub>n</sub></strong>
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                  <option value="opt2"><b>=</b></option>
                </select>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group">
              <label for="">Укажите значение:<small class="text-warning ml-1">(для табл. Параметры КСС)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-warning">Диаметр стержней</p>
            <div class="form-group">
              <label for="">Укажите диапазон:<small class="text-warning ml-1">(для табл. Параметры свар.соединений и
                  Параметры групп однотипности)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                </select>
                <strong class="mx-2">d</strong>
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                  <option value="opt2"><b>=</b></option>
                </select>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group">
              <label for="">Укажите значение:<small class="text-warning ml-1">(для табл. Параметры КСС)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="text-warning">Площадь поперечного сечения</p>
            <div class="form-group">
              <label for="">Укажите диапазон:<small class="text-warning ml-1">(для табл. Параметры свар.соединений и
                  Параметры групп однотипности)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                </select>
                <strong class="mx-2">s</strong>
                <select class="form-control form-control-sm text-center mx-2">
                  <option value="opt0"></option>
                  <option value="opt1"><b>&le;</b></option>
                  <option value="opt2"><b>&lt;</b></option>
                  <option value="opt2"><b>=</b></option>
                </select>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group">
              <label for="">Укажите значение:<small class="text-warning ml-1">(для табл. Параметры КСС)</small></label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
          <a href="#" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" role="button">Закрыть</a>
        </div>
      </form>
    </div>
  </div>
</div>
