<div class="modal fade" id="modal-sizes-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Типоразмеры СМ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="get">
        <div class="modal-body">
          <div class="scrollspy-modal">
            <p class="text-warning mb-1">Вид СМ: <b>Эп</b></p>
            <p class="text-bold text-sm mb-1">Указать диаметр(ы):</p>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">1.6</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">2.0</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">2.5</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">3.0</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">3.2</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">4.0</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">5.0</label>
            </div>
            <div class="form-group">
              <label for="my_dimeter" class="col-form-label col-form-label-sm">Свой диаметр:</label>
              <input type="text" id="my_dimeter" class="form-control form-control-sm w-50">
            </div>
            <hr>
            <p class="text-warning mb-1">Вид СМ: <b>Пс, Пп</b></p>
            <div class="form-group">
              <label for="choice_diameter_section" class="col-form-label col-form-label-sm text-bold">Указать диаметры/сечение:</label>
              <select id="choice_diameter_section" class="form-control form-control-sm w-50" required>
                <option value="">-</option>
                <option value="">Диаметры</option>
                <option value="">Сечение</option>
              </select>
            </div>
            <!-- <div class="form-check form-check-inline form-check-sm">
              <input type="radio" name="test_study" value="option1" class="form-check-input">
              <label for="" class="form-check-label">Диаметр</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="radio" name="test_study" value="option1" class="form-check-input">
              <label for="" class="form-check-label">Сечение</label>
            </div> -->
            <p class="text-warning text-sm mb-1">Для диаметров:</p>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">0.8</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">1.0</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">1.2</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">1.4</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">1.6</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">2.0</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">2.4</label>
            </div>
            <div class="form-group">
              <label for="my_diameter" class="col-form-label col-form-label-sm">Свой диаметр:</label>
              <input type="text" id="my_diameter" class="form-control form-control-sm w-50">
            </div>
            <p class="text-warning text-sm mb-1 mt-2">Для сечений:</p>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">20x0.5</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">30x0.5</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">60x0.5</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">90x0.5</label>
            </div>
            <div class="form-check form-check-inline form-check-sm">
              <input type="checkbox" value="option1" class="form-check-input">
              <label for="" class="form-check-label">120x0.5</label>
            </div>
            <div class="form-group">
              <label for="my_section" class="col-form-label col-form-label-sm">Свое сечение:</label>
              <input type="text" id="my_section" class="form-control form-control-sm w-50">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
          <a href="#" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" role="button">Закрыть</a>
        </div>
      </form>
    </div>
  </div>
</div>
