<div class="modal fade" id="modal-specifications-so" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Технические характеристики (параметры) СО</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="get">
        <div class="modal-body">
          <div class="alert alert-light text-dark text-sm shadow-sm">
            <p class="mb-1">Перечень включает характеристики (параметры) СО для дуговой и контактной сварки
              металлических материалов, для сварки полимерных материалов.</p>
            <p class="mb-1">Чтобы добавить дополнительные технические характеристики (параметры), прокрутите список до
              конца.</p>
          </div>
          <div class="scrollspy-modal">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Номинальное напряжение питания питающей сети (все шифры
                          СО, кроме ДА)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Диапазон регулирования сварочного тока (ДИ, ДА)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Номинальное напряжение без нагрузки (напряжение холостого
                          хода) (ДИ, ДА)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Цикл нагрузки (ДИ, ДА, ДМ, ДП)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Статическая внешняя характеристика (ДИ, ДА)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Скорость подачи сварочной проволоки (ДМ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Скорость перемещения сварочной головки (электрода)
                          (ДП)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Расход защитного газа (ДИ, ДМ, ДП)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Величина и род наибольшего вторичного тока (КС)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Номинальный длительный вторичный ток (КС)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Номинальное наибольшее усилие сжатия (осадки)
                          (КС)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Длительность протекания сварочного тока (КС)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Выходное напряжение (ПЗ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Автоматизация процесса сварки (ПН, ПЗ, ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Протоколирование процесса сварки (ПЗ, ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Время сварки соединения (ПЗ, ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Сопротивление трению (ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Осевое усилие подвижного зажима (ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Зазор после торцевания (ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Центрирующая способность зажимов (ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label" for="">Температура в зоне сварки (ПН, ПИ)</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1">
                        <label class="form-check-label w-100" for="">
                          <input type="text" class="form-control form-control-sm"
                            placeholder="название дополнительной характеристики (параметра)">
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="bg-light">
                      <button class="btn btn-outline-primary btn-xs"><i class="fa fa-plus mr-1"></i>Добавить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
          <a href="#" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" role="button">Закрыть</a>
        </div>
      </form>
    </div>
  </div>
</div>
