<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">ГДО</label>
          </div>
        </td>
        <td>Горнодобывающее оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">ГО</label>
          </div>
        </td>
        <td>Газовое оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">КО</label>
          </div>
        </td>
        <td>Котельное оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">КСМ</label>
          </div>
        </td>
        <td>Конструкции стальных мостов</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">МО</label>
          </div>
        </td>
        <td>Металлургическое оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">НГДО</label>
          </div>
        </td>
        <td>Нефтегазодобывающее оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">ОТОГ</label>
          </div>
        </td>
        <td>Оборудование для транспортировки опасных грузов</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">ОХНВП</label>
          </div>
        </td>
        <td>Оборудование химических, нефтехимических, нефтеперерабатывающих и взрывопожароопасных производств
        </td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">ПТО</label>
          </div>
        </td>
        <td>Подъемно-транспортное оборудование</td>
      </tr>
      <tr>
        <td class="text-bold">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="option1">
            <label class="form-check-label" for="">СК</label>
          </div>
        </td>
        <td>Строительные конструкции</td>
      </tr>
    </tbody>
  </table>
</div>
