<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Эп - электроды с одним из видов покрытия по ГОСТ 9466</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">А – с кислым покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">Б – с основным покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">Ц – с целлюлозным покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">Р – с рутиловым покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">РА – с рутилово-кислым покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">РБ – с рутилово-основным покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">РЦ – с рутилово-целлюлозным покрытием</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">П – с прочими видами покрытий</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Пп - проволоки или ленты порошковые</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Пс - проволоки или ленты сплошного сечения</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Гз - газы защитные, относящиеся к одной из групп индексов по ГОСТ Р
              ИСО 14175</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Гг - газы горючие одного состава</label>
          </div>
        </td>
      </tr>
      <tr class="bg-light text-bold">
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type_sm" value="">
            <label class="form-check-label" for="">Ф - флюсы сварочные, изготовленные одним из способов по ГОСТ Р ИСО
              14174</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">флюсы плавленые</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">флюсы агломерированные</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check form-check-inline ml-3">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="">флюсы смешанные</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
