<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Отбор единиц СО для аттестационных испытаний</h6>
  <div class="table-responsive">
    <table class="table table-bordered text-center bg-white">
      <tr class="table-active">
        <th width="40">№ пп</th>
        <!-- <th>Вид атт.</th> -->
        <th>Шифр СО</th>
        <th>Наименование, марка и обозначение</th>
        <th>Количество единиц в партии, шт.</th>
        <th>Заводские номера всего СО в партии</th>
        <th>Место и дата отбора</th>
        <th>Количество отбираемых единиц из партии, шт.</th>
        <th>Дополнительное оборудование для заявленных способов сварки</th>
        <th>Действия</th>
      </tr>
      <tr>
        <td class="bg-light text-bold">1</td>
        <td class="bg-light">ДИ</td>
        <td class="bg-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td class="bg-light">3</td>
        <td class="bg-light">123456, 123456, 123456</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
        <td>2</td>
        <td>-</td>
        <td>
          <div class="btn-group btn-group-xs">
            <div type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#selection_so"
              aria-expanded="false" aria-controls="selection_so" title="заполнить"><i class="fa fa-pencil"></i>
            </div>
            <div type="button" class="btn btn-outline-secondary" title="удалить"><i class="fa fa-times"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="bg-light text-bold">2</td>
        <td class="bg-light">ДИ+ДП/КС</td>
        <td class="bg-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td class="bg-light">2</td>
        <td class="bg-light">123456, 1454214</td>
        <td><em class="text-muted">не заполнено</em></td>
        <td><em class="text-muted">не заполнено</em></td>
        <td><em class="text-muted">не заполнено</em></td>
        <td>
          <div class="btn-group btn-group-xs">
            <div type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#selection_so"
              aria-expanded="false" aria-controls="selection_so" title="заполнить"><i class="fa fa-pencil"></i>
            </div>
            <div type="button" class="btn btn-outline-secondary" title="удалить"><i class="fa fa-times"></i>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="mb-3 collapse show" id="selection_so">
    <div class="bg-white py-3 border">
      <p class="text-sm text-bold text-center mb-3">Выбранное оборудование (Шифр СО, наименование марка и
        обозначение)<small class="text-warning ml-2">(можно сделать select с заявленным оборудованием для
          выбора)</small></p>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Наименование (место
          отбора)<span class="text-danger">*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" required="">
        </div>
        <!-- <div class="col-sm-1">
          <a href="#" class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#modal-directory-org"
            title="выбрать из справочника"><i class="fa fa-book"></i></a>
        </div> -->
      </div>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Адрес места
          отбора<span class="text-danger">*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" required="">
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Дата отбора<span
            class="text-danger">*</span></label>
        <div class="col-sm-2">
          <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Количество
          отбираемых единиц СО из партии, шт.<span class="text-danger">*</span></label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Дополнительное
          оборудование для заявленных способов сварки<span class="text-danger">*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Представитель
          заявителя</label>
        <div class="col-sm-6 col-xl-3">
          <input type="text" class="form-control form-control-sm" placeholder="ФИО">
        </div>
        <div class="col-sm-6 col-xl-3">
          <input type="text" class="form-control form-control-sm" placeholder="телефон, email">
        </div>
      </div>
      <div class="form-group row align-items-center"><label for=""
          class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Член аттестационной
          комиссии АЦ</label>
        <div class="col-sm-6 col-xl-3">
          <select class="form-control form-control-sm">
            <option value="opt1">-</option>
            <option value="opt2">Фамилия Имя Отчество</option>
            <option value="opt3">Фамилия Имя Отчество</option>
            <option value="opt3">Фамилия Имя Отчество</option>
          </select>
        </div>
        <div class="col-sm-6 col-xl-3">
          <input type="text" class="form-control form-control-sm" placeholder="телефон, email">
        </div>
      </div>
      <hr>
      <div class="ml-2">
        <button type="button" class="btn btn-outline-primary btn-sm ml-2">Подтвердить</button>
        <a href="#" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#selection_so" aria-expanded="false"
          aria-controls="selection_so">Отмена</a>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row align-items-center"><label for=""
      class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Форма акта отбора<small
        class="text-warning ml-2">(появится после сохранения)</small></label>
    <div class="col-sm-6 col-xl-3">
      <a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-download mr-1"></i>Скачать</a>
    </div>
  </div> -->
  <hr>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-sm btn-submit">Сохранить</button>
    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download mr-1"></i>Скачать форму акта отбора</a>
  </div>
</form>
