<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th width="30%">Характеристика (параметр) СО</th>
      <th>Значение в маркировке СО<small class="text-muted ml-2">(в технической документации на СО)</small></th>
      <th>Применяемое оборудование и средства измерений</th>
      <th>Действия</th>
    </tr>
    <tr>
      <td class="text-left">Диапазон регулирования сварочного тока</td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td class="text-left">Номинальное напряжение без нагрузки (напряжение холостого хода)</td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td class="text-left">Амплитуда перемещения (колебаний) сварочной головки (электрода) в плоскости перпендикулярной
        сварному шву</td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td><textarea rows="2" class="form-control form-control-sm"></textarea></td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr class="bg-light">
      <td colspan="4" class="text-left">
        <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal"
          data-target="#modal-specifications-so"><i class="fa fa-plus mr-1"></i>Добавить данные</button>
      </td>
    </tr>
  </table>
</div>
