<div class="table-responsive">
  <table class="table table-bordered text-center bg-white">
    <tr class="table-active">
      <th colspan="2">Проверяемое требование<small class="text-muted ml-2">(в соответствии с Приложением Д ГОСТ Р
          59604.5-2021)</small></th>
      <th>Действия</th>
    </tr>
    <tr>
      <td>Д.2.1</td>
      <td class="text-left">Размещение СО должно обеспечивать безопасный и свободный доступ к нему.</td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td>Д.2.2</td>
      <td class="text-left">Устройства обеспечения безопасности источников сварочного тока (ГОСТ Р МЭК 60974-1—2012,
        пункт 13.3) должны иметь индикацию удовлетворительной работы. Конструкция источника сварочного тока должна
        исключать возможность блокировки или шунтирования устройства обеспечения безопасности без помощи специального
        инструмента.</td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr>
      <td>Д.2.3</td>
      <td class="text-left">Длина первичной цепи между передвижным СО и пунктом питания с напряжением питания выше 50 В
        для переменного тока или с напряжением питания выше 110 В для постоянного тока не должна превышать 15 м.
        Нарушение изоляции элементов первичной цепи не допускается.</td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-xs" title="удалить"><i
            class="fa fa-times"></i></button>
      </td>
    </tr>
    <tr class="bg-light">
      <td colspan="3" class="text-left">
        <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal"
          data-target="#modal-safety-requirements-so"><i class="fa fa-plus mr-1"></i>Добавить данные</button>
      </td>
    </tr>
  </table>
</div>
<hr>
