<div class="alert alert-primary text-sm">
  <div class="row align-items-center">
    <div class="col-sm mb-2 mb-sm-0">
      <p class="text-bold mb-0"><i class="fa fa-check mr-1"></i>Данные успешно сохранены</p>
    </div>
    <div class="col-lg text-lg-right">
      <a href="cert_list.html">Перейти к списку аттестаций<i class="fa fa-angle-right ml-1"></i></a>
    </div>
  </div>
</div>
<div class="alert alert-danger text-sm">
  <div class="row align-items-center">
    <div class="col-sm mb-2 mb-sm-0">
      <p class="text-bold mb-1"><i class="fa fa-times mr-1"></i>Исправьте ошибки</p>
      <p class="mb-1"><i class="fa fa-times mr-1"></i>Lorem ipsum dolor sit amet.</p>
      <p class="mb-0"><i class="fa fa-times mr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="col-lg text-lg-right">
      <a href="cert_list.html">Перейти к списку аттестаций<i class="fa fa-angle-right ml-1"></i></a>
    </div>
  </div>
</div>
