<footer>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="d-none d-md-block col-md-2 col-xl-1">
        <a href="http://naks.ru/"><img src="img/logo-bottom.png" class="img-fluid"
            alt="Логотип НАКС"></a>
      </div>
      <div class="col-sm-7 col-md-5 col-xl-5 order-2 order-sm-1">
        <h5>Национальное Агентство Контроля Сварки<br><small>©&nbsp;Все права защищены, 2009-2022</small></h5>
      </div>
      <div class="col-sm-5 col-md-5 col-xl-6 order-1 order-sm-2">
        <div class="footer-link text-lg-right">
          <a href="https://naks.ru/sasv/" target="_blank">САСв</a>
          <a href="http://spks.naks.ru/" target="_blank">СПКС</a>
          <a href="http://sro.naks.ru/" target="_blank">СРО НАКС</a>
          <a href="http://nk.naks.ru/" target="_blank">СНК</a>
          <a href="http://cert.naks.ru/" target="_blank">СДС&nbsp;НАКС</a>
          <a href="http://tk364.naks.ru/" target="_blank">ТК-364</a>
        </div>
      </div>
    </div>
  </div>
</footer>
