<header>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 col-xl-3 text-center text-lg-left mb-md-3 mb-lg-0">
        <a href="http://naks.ru/"><img src="img/logo-main.png" class="img-fluid" alt="Логотип НАКС"
            style="max-width: 150px;"></a>
      </div>
      <div class="col-lg mb-3 mb-lg-0 text-center">
        <h4>Электронный документооборот</h4>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div class="header-contacts d-flex align-items-center justify-content-center justify-content-lg-end text-sm">
          <div class="me-3">
            <a href="tel:+74997847286"><i class="fa fa-phone-square me-2"></i>+7 (499) 784-72-86</a>
            <a href="tel:+74997847289"><i class="fa fa-phone-square me-2"></i>+7 (499) 784-72-89</a>
          </div>
          <div>
            <a href="mailto:ndt@naks.ru"><i class="fa fa-envelope me-2"></i>ndt@naks.ru</a>
            <a href="mailto:soft@naks.ru"><i class="fa fa-envelope me-2"></i>soft@naks.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
