<form class="editing-form shadow-sm pt-3">
  <h6 class="text-primary text-center mb-3">Сведения о сварочном оборудовании</h6>
  <div class="table-responsive">
    <table class="table table-bordered text-center bg-white">
      <tr class="table-active">
        <th width="40">№ пп</th>
        <th>Вид атт.</th>
        <th>Шифр СО</th>
        <th>Наименование, марка и обозначение</th>
        <th>Производитель</th>
        <th>Заводской номер, дата</th>
        <th>Сертификат соответствия</th>
        <th>Способы сварки (наплавки)</th>
        <th>Объекты</th>
        <th>Действия</th>
      </tr>
      <tr>
        <td class="bg-light text-bold">1</td>
        <td>Пр</td>
        <td>ДИ</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td>Lorem, ipsum dolor.</td>
        <td>
          <div>123456, 10.02.2021</div>
          <div>123456, 10.02.2021</div>
          <div>123456, 10.02.2021</div>
        </td>
        <td>1234CJ12</td>
        <td>РАД, МАДП (наплавка)</td>
        <td>ГО, ОХНВП</td>
        <td>
          <div class="btn-group btn-group-xs">
            <div type="button" class="btn btn-outline-secondary" title="копировать"><i class="fa fa-clone"></i></div>
            <div type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#so_id"
              aria-expanded="false" aria-controls="so_id" title="изменить"><i class="fa fa-pencil"></i>
            </div>
            <div type="button" class="btn btn-outline-secondary" title="удалить"><i class="fa fa-times"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="bg-light text-bold">2</td>
        <td>Доп</td>
        <td>ДИ+ДП/КС</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, incidunt!</td>
        <td>Lorem, ipsum dolor.</td>
        <td>
          <div>123456, 10.02.2021</div>
          <div>123456, 10.02.2021</div>
        </td>
        <td>1234CJ12</td>
        <td>РАД, МАДП (наплавка)</td>
        <td>ГО, ОХНВП</td>
        <td>
          <div class="btn-group btn-group-xs">
            <div type="button" class="btn btn-outline-secondary" title="копировать"><i class="fa fa-clone"></i></div>
            <div type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#so_id"
              aria-expanded="false" aria-controls="so_id" title="изменить"><i class="fa fa-pencil"></i>
            </div>
            <div type="button" class="btn btn-outline-secondary" title="удалить"><i class="fa fa-times"></i>
            </div>
          </div>
        </td>
      </tr>
      <tr class="bg-light">
        <td colspan="10" class="text-left">
          <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="collapse" data-target="#so_id"
            aria-expanded="false" aria-controls="so_id"><i class="fa fa-plus mr-1"></i>Добавить
            оборудование</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="mb-3 collapse show" id="so_id">
    <div class="bg-white py-3 border">
      <div class="form-group row align-items-center">
        <label for="type_attestation" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm text-bold">Вид
          аттестации<span class="text-danger">*</span></label>
        <div class="col-sm-6 col-xl-3">
          <select class="form-control form-control-sm" id="type_attestation">
            <option value="opt1">Первичная</option>
            <option selected value="opt2">Периодическая</option>
            <option value="opt3">Дополнительная</option>
          </select>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="cipher_so" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Шифр СО<span
            class="text-danger">*</span></label>
        <div class="col-1">
          <select class="form-control form-control-sm" id="cipher_so">
            <option value="opt0"></option>
            <option value="opt1">ДИ</option>
            <option value="opt2">ДА</option>
            <option value="opt3">ДМ</option>
            <option value="opt4">ДП</option>
            <option value="opt5">КС</option>
            <option value="opt6">ПН</option>
            <option value="opt7">ПЗ</option>
            <option value="opt8">ПИ</option>
            <option value="opt9">Пр</option>
          </select>
        </div>
        <div class="col-1">
          <select class="form-control form-control-sm" id="cipher_so_znak">
            <option value="opt0"></option>
            <option value="opt1">/</option>
            <option value="opt2">+</option>
          </select>
        </div>
        <div class="col-1">
          <select class="form-control form-control-sm">
            <option value="opt0"></option>
            <option value="opt1">ДИ</option>
            <option value="opt2">ДА</option>
            <option value="opt3">ДМ</option>
            <option value="opt4">ДП</option>
            <option value="opt5">КС</option>
            <option value="opt6">ПН</option>
            <option value="opt7">ПЗ</option>
            <option value="opt8">ПИ</option>
            <option value="opt9">Пр</option>
          </select>
        </div>
        <div class="col-1">
          <select class="form-control form-control-sm">
            <option value="opt0"></option>
            <option value="opt1">/</option>
            <option value="opt2">+</option>
          </select>
        </div>
        <div class="col-1">
          <select class="form-control form-control-sm">
            <option value="opt0"></option>
            <option value="opt1">ДИ</option>
            <option value="opt2">ДА</option>
            <option value="opt3">ДМ</option>
            <option value="opt4">ДП</option>
            <option value="opt5">КС</option>
            <option value="opt6">ПН</option>
            <option value="opt7">ПЗ</option>
            <option value="opt8">ПИ</option>
            <option value="opt9">Пр</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="brand_so" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Наименование, марка
          и обозначение (модель, тип)<span class="text-danger">*</span></label>
        <div class="col-sm-6">
          <input type="text" id="brand_so" class="form-control form-control-sm" required="">
        </div>
      </div>
      <div class="form-group row">
        <label for="name_org_fabricator" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Производитель<span
            class="text-danger">*</span></label>
        <div class="col-sm-6">
          <input type="text" id="name_org_fabricator" class="form-control form-control-sm" required="">
        </div>
        <div class="col-sm-1">
          <a href="#" class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#modal-directory-org"
            title="выбрать из справочника"><i class="fa fa-book"></i></a>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Заводской
          (идентификационный) номер, дата производства (изготовления)<span class="text-danger">*</span><small
            class="text-warning ml-2">(поле "№ свидетельства" отображается только в случае периодической или
            дополнительной аттестации)</small></label>
        <div class="col-sm-2">
          <input type="text" id="zavod_nymber" class="form-control form-control-sm" placeholder="№" required="">
        </div>
        <div class="col-sm-2">
          <input type="date" id="proizv_date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
        </div>
        <div class="col-sm-2">
          <input type="text" id="svid_number" class="form-control form-control-sm" placeholder="№ свидетельства" required="">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-xs btn-outline-secondary" title="удалить"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 offset-xl-5">
          <input type="text" class="form-control form-control-sm" placeholder="№" required="">
        </div>
        <div class="col-sm-2">
          <input type="date" class="form-control form-control-sm" placeholder="дд.мм.гггг">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" placeholder="№ свидетельства" required="">
        </div>
        <div class="col-sm-1">
          <button class="btn btn-xs btn-outline-secondary" title="удалить"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-3 offset-sm-5">
          <button type="button" class="btn btn-xs btn-outline-primary"><i class="fa fa-plus mr-1"></i>Добавить
            номер</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="certificate_conformity" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Сертификат
          соответствия<small class="text-muted ml-2">(при наличии)</small></label>
        <div class="col-sm-6">
          <input type="text" id="certificate_conformity" class="form-control form-control-sm">
        </div>
      </div>
      <hr>
      <h6 class="text-primary text-center mb-3">Область аттестации</h6>
      <div class="form-group row">
        <label for="" class="col-lg-4 offset-xl-1 col-form-label col-form-label-sm">Способы сварки
          (наплавки)<span class="text-danger">*</span></label>
        <div class="col-lg-8 col-xl-6">
          <div class="table-responsive">
            <table class="table table-bordered bg-white">
              <tr>
                <td colspan=2>
                  <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal"
                    data-target="#modal-choice-welding-method"
                    title="выбрать способы сварки (наплавки)">выбрать</button>
                </td>
              </tr>
              <tr>
                <td>РАД, МАДП (наплавка)</td>
                <td width=100 class="text-center">
                  <div class="btn-group btn-group-xs" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                      data-target="#modal-choice-welding-method" title="изменить"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-outline-secondary" title="удалить"><i
                        class="fa fa-times"></i></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-lg-4 offset-xl-1 col-form-label col-form-label-sm">Объекты<span
            class="text-danger">*</span></label>
        <div class="col-lg-8 col-xl-6">
          <div class="table-responsive">
            <table class="table table-bordered bg-white">
              <tr>
                <td colspan=2>
                  <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal"
                    data-target="#modal-choice-objects" title="выбрать способы сварки (наплавки)">выбрать</button>
                </td>
              </tr>
              <tr>
                <td>ГО, ОХНВП</td>
                <td width=100 class="text-center">
                  <div class="btn-group btn-group-xs" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                      data-target="#modal-choice-objects" title="изменить"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-outline-secondary" title="удалить"><i
                        class="fa fa-times"></i></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <hr>
      <h6 class="text-primary text-center mb-3">Дополнительные требования</h6>
      <div class="form-group row">
        <label for="additional_requirements" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Укажите
          дополнительные
          требования<i class="fa fa-info-circle text-secondary ml-1" data-container="body" data-toggle="popover"
            data-placement="top" data-trigger="hover"
            data-content="Например, НД, регламентирующие требования к СО для применения на конкретном(ых) объекте(ах), проверяемые технические характеристики (параметры) СО и т.д"></i></label>
        <div class="col-sm-6">
          <textarea id="additional_requirements" class="form-control form-control-sm" rows="3"></textarea>
        </div>
      </div>
      <hr>
      <h6 class="text-primary text-center mb-3">Техническая документация<i class="fa fa-info-circle text-secondary ml-1"
          data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
          data-content="Файлы формата jpg, png, pdf, zip, не более 10 Мб"></i></h6>
      <div class="form-group row">
        <label for="passport_doc" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Паспорт, инструкция
          по эксплуатации</label>
        <div class="col-sm-6 col-xl-4">
          <input type="file" id="passport_doc" class="form-control form-control-sm">
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="" class="col-sm-5 col-xl-4 offset-xl-1 col-form-label col-form-label-sm">Название документа<small
            class="text-warning ml-2">(Загруженный документ)</small></label>
        <div class="col-sm-6 col-xl-4">
          <div class="bg-light border rounded py-1 pl-2">
            <a href="#" class="text-sm" target="_blank">loaded_document.pdf</a>
          </div>
        </div>
        <div class="col-sm-1">
          <a href="#" class="btn btn-outline-secondary btn-xs" title="удалить"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <div class="col-sm-5 col-xl-4 offset-xl-1">
          <input type="text" id="name_doc" class="form-control form-control-sm" placeholder="Название документа(ов)">
        </div>
        <div class="col-sm-6 col-xl-4">
          <input type="file" id="file_doc" class="form-control form-control-sm">
        </div>
        <div class="col-sm-1">
          <a href="#" class="btn btn-outline-secondary btn-xs" title="удалить"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-3 offset-sm-5">
          <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal"
            data-target="#modal-register-info-from-st"><i class="fa fa-plus mr-1"></i>Добавить
            документ</button>
        </div>
      </div>
      <hr>
      <div class="ml-2">
        <button type="button" class="btn btn-outline-primary btn-sm ml-2">Подтвердить</button>
        <a href="#" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#so_id" aria-expanded="false"
          aria-controls="so_id">Отмена</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary btn-sm btn-submit">Сохранить</button>
    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download mr-2"></i>Скачать заявку</a>
  </div>
</form>
