<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
    <tr>
      <td class="table-active w-50"><b>Наименование технологии сварки (наплавки, пайки)</b></td>
      <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta necessitatibus earum illum sunt sapiente
        autem ipsum facilis praesentium dicta corrupti, rem eos placeat ab ad magni sed molestiae dolore modi!</td>
    </tr>
  </table>
</div>
<p class="text-info text-sm mb-1">Сведения о заявителе аттестации<small class="text-warning ml-2">(для
    протокола)</small></p>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-sm">
    <tr>
      <td class="table-active w-50">Наименование организации</td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
    <tr>
      <td class="table-active">Адрес места нахождения организации</td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
    <tr>
      <td class="table-active">ИНН (или иной идентификационный признак)</td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
    <tr v-if="direction == 'sm'">
      <td class="table-active">Адрес места нахождения производства<small class="text-warning ml-2">(для производителя
          СМ)</small></td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
  </table>
</div>

  <p class="text-info text-sm mb-1">Сведения об организации и филиалах (обособленных подразделениях)<small
      class="text-warning ml-2">(для программы и протокола)</small></p>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <tr>
        <td class="table-active w-50">Наименование организации</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
      <tr>
        <td class="table-active">Адрес места нахождения организации</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
      <tr>
        <td class="table-active">№ свидетельства о готовности организации к выполнению сварочных работ<small
            class="text-warning ml-2">(для программы при периодической аттестации)</small></td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
      <tr>
        <td rowspan="3" class="table-active">Наименования и адреса мест нахождения филиалов (обособленных
          подразделений)<small class="text-warning ml-2">(для программы и протокола)</small></td>
        <td>
          <div>Филиал 1</div>
          <div>Адрес 1</div>
        </td>
      </tr>
      <tr>
        <td>
          <div>Филиал 2</div>
          <div>Адрес 2</div>
        </td>
      </tr>
      <tr>
        <td>
          <div>Филиал 3</div>
          <div>Адрес 3</div>
        </td>
      </tr>
      <tr>
        <td class="table-active">ПТД (наименование, обозначение, дата утверждения)<small class="text-warning ml-2">(для
            протокола)</small></td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
      <tr>
        <td class="table-active">Вид проверки готовности организации к выполнению сварочных работ<small
            class="text-warning ml-2">(для протокола)</small></td>
        <td>первичная или периодическая</td>
      </tr>
    </table>
  </div>
  <p class="text-info text-sm mb-1">Заявленная область аттестации технологии сварки (пайки, наплавки)<small
      class="text-warning ml-2">(для программы и протокола)</small></p>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <tr>
        <td class="table-active w-50">Способ (комбинация способов) сварки (пайки, наплавки)</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
      <tr>
        <td class="table-active">Объект(ы)</td>
        <td>Lorem, ipsum dolor.</td>
      </tr>
    </table>
  </div>
  <p class="text-sm mb-1">Параметры сварных соединений<small class="text-warning ml-2">(для программы и
      протокола)</small></p>
  @include('table_parameters_static_st.html')


